<div class="project-item-wrapper  project-item-wrapper-row">
    <a href="/recipe">
    <div class="project-item">
        <div class="project-item-header">
            <p>{{authorId}}</p>
            <button class="project-more-button" type="button">
        </div>
        <div class="project-item-body">
            <h2>{{title}}</h2>
            <div class="project-item-short-details">
                <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80">
                <div>ingredients</div>
            </div>
        </div>
        <div class="project-item-footer">
            <div></div>
            <div class="days-left-sign">{{categoryId}}</div>
            <div class="days-left-sign">{{mealId}}</div>
            <div class="days-left-sign">{{timeToCook}}m to cook</div>
        </div>
    </div>
    </a>
</div>