<article class="recipe-details-container">
    <div style="width:100%;">
        <div>
            <div class="rounded-sign" style="background-color: #fee4cb;">{{recipe.meal.meal}}</div>
            <div class="rounded-sign" style="background-color: #e0f5c8;">{{recipe.category.category}}</div>
        </div>
        <div style="display: flex; justify-content:space-between; gap: 15px">
            <a class="print-link" href="javascript:(print());">Print</a>
            <script src="https://yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-curtain data-shape="round" data-color-scheme="whiteblack" data-limit="0" data-more-button-type="short" data-services="vkontakte,facebook,telegram"></div>
        </div>
    </div>
    <div>
        <div>
            <h1>{{recipe.title}}</h1>
            <div>Posted by {{recipe.author.login}} ({{recipe.datePublished}})</div>
            <div>Time to cook: {{recipe.timeToCook}}m</div>
            <div>
            <h4 style="margin: 10px 0;">Ingredients</h4>
            <ul class="recipe-ingredients">
                {{#each recipe.recipe_ingredients}}
                    <li>{{ingredient.name}} {{quantity}} {{ingredient.measurement}}</li>
                {{/each}}
            </ul>
        </div>
        </div>
        <div>
            {{#each recipe.images}}
                <img src="{{uri}}" alt="{{description}}" style="width: 600px; height:auto">
            {{/each}}
        </div>
    </div>
        <h4 style="display: block; margin: 0 auto">Instructions</h4>
        <pre>{{recipe.instruction}}</pre>
    </div>
    <a href="javascript:(history.back());">Back</a>
</article>